In [19]:
import pandas as pd
import os
import numpy as np
from numpy.linalg import inv

In [20]:
titanic_csv = "https://raw.githubusercontent.com/dlsun/data-science-book/master/data/titanic.csv"
titanic_df = pd.read_csv(titanic_csv)
features = ['pclass','survived','sex','age']

titanic_df = titanic_df.loc[:,features]
display(titanic_df)
titanic_df.loc[:,'pclass']=titanic_df['pclass'].fillna(titanic_df['pclass'].mode()).astype(int)
titanic_df.loc[:,'age']=titanic_df['age'].fillna(titanic_df['age'].median())
titanic_df.loc[:,'age']=(titanic_df['age']/10).astype(str).str[0].astype(int)*10
titanic_df["sex"] = titanic_df["sex"].map(dict(male=1, female=0))
titanic_df.head()

      pclass  survived     sex      age
0          1         1  female  29.0000
1          1         1    male   0.9167
2          1         0  female   2.0000
3          1         0    male  30.0000
4          1         0  female  25.0000
...      ...       ...     ...      ...
1304       3         0  female  14.5000
1305       3         0  female      NaN
1306       3         0    male  26.5000
1307       3         0    male  27.0000
1308       3         0    male  29.0000

[1309 rows x 4 columns]

   pclass  survived  sex  age
0       1         1    0   20
1       1         1    1    0
2       1         0    0    0
3       1         0    1   30
4       1         0    0   20

In [21]:
# computes priors
def compute_priors(df, response):
    y = df[response]
    priors = dict(y.value_counts(normalize=True))
    return priors

priors = compute_priors(titanic_df, "survived")
priors

{0: 0.6180290297937356, 1: 0.3819709702062643}

In [22]:
# computes the mu vector for each category
def compute_mu_vectors(df, response):
    y = df[response]
    mu_vectors = {}
    for category_k in y.unique():
        df_k = df[y == category_k] # df with y = category_k
        X_k = df_k.drop(response, axis=1)
        mu_vectors[category_k] = dict(X_k.mean())
    return mu_vectors

mean_dict = compute_mu_vectors(titanic_df, "survived")
mean_dict

{1: {'pclass': 1.962, 'sex': 0.322, 'age': 23.86},
 0: {'pclass': 2.50061804697157,
  'sex': 0.8430160692212608,
  'age': 24.709517923362174}}

In [23]:
# computes covariance matrix
def compute_inv_sigma(df, response):
    X = df.drop(response, axis=1)
    return inv(X.cov())
    
compute_inv_sigma(titanic_df, "survived")

array([[ 1.709314  , -0.43131994,  0.04162978],
       [-0.43131994,  4.47844087, -0.01839694],
       [ 0.04162978, -0.01839694,  0.00660763]])

In [24]:
def classify_new_observation(df, response, new_x):
    y = df[response]
    
    priors = compute_priors(df, response)
    mu_vectors = compute_mu_vectors(df, response)
    inv_sigma = compute_inv_sigma(df, response)
    
    prob_dict = {}
    for category_k in y.unique():
        mu_k = pd.Series(mu_vectors[category_k]).to_numpy()
        first_term = new_x.transpose().dot(inv_sigma).dot(mu_k)
        second_term = .5 * mu_k.transpose().dot(inv_sigma).dot(mu_k)
        third_term = np.log(priors[category_k])
        prob_k = first_term - second_term + third_term
        
        prob_dict[category_k] = prob_k
        
    best_class, max_prob = next(iter(prob_dict.items()))
    for class_k, prob_k in prob_dict.items():
        if max_prob < prob_k:
            max_prob = prob_k
            best_class = class_k
      
    return best_class
        
X = titanic_df.drop("survived", axis=1)
new_x = X.iloc[0, :]
new_x = new_x.to_numpy()

class_k = classify_new_observation(titanic_df, "survived", new_x)
class_k

1

In [25]:
# returns a dictionary of priors (one key, value pair for each category)
def compute_priors(df, response):
    y = df[response]
    priors_dict = {}
    priors = dict(y.value_counts(normalize=True))
    return priors

# returns a dictionary of mu vectors (one key, value pair for each category)
def compute_mu_vectors(df, response):
    y = df[response]
    mu_vectors = {}
    for category_k in y.unique():
        df_k = df[y == category_k] # df with y = category_k
        X_k = df_k.drop(response, axis=1)
        mu_vectors[category_k] = dict(X_k.mean())
    return mu_vectors

# returns the inverse of the covariance matrix
def compute_inv_sigma(df, response):
    X = df.drop(response, axis=1)
    return inv(X.cov())

# returns the classification of a single obs
def classify_obs(x_i, y, mu_vectors, priors, inv_sigma):
        prob_dict = {}
        for category_k in y.unique():
            mu_k = pd.Series(mu_vectors[category_k]).to_numpy()
            first_term = x_i.transpose().dot(inv_sigma).dot(mu_k)
            second_term = .5 * mu_k.transpose().dot(inv_sigma).dot(mu_k)
            third_term = np.log(priors[category_k])
            prob_k = first_term - second_term + third_term
            prob_dict[category_k] = prob_k

        best_class, max_prob = next(iter(prob_dict.items()))
        for class_k, prob_k in prob_dict.items():
            if max_prob < prob_k:
                max_prob = prob_k
                best_class = class_k
        return best_class

class LDA:
    
    def fit(self, X_train, y_train):
        df_train = X_train.copy()
        response = y_train.name
        df_train[response] = y_train
        self.y = df_train[response]
        self.priors = compute_priors(df_train, response)
        self.mu_vectors = compute_mu_vectors(df_train, response)
        self.inv_sigma = compute_inv_sigma(df_train, response)
        
    def predict(self, df_test):
        y_pred = {}
        for i in range(len(df_test)):
            x_i = df_test.loc[i, :].to_numpy()
            y_pred[i] = classify_obs(x_i, self.y, self.mu_vectors, self.priors, self.inv_sigma)
        return pd.Series(y_pred)

In [26]:
y_train = titanic_df["survived"]
model = LDA()

X_train = titanic_df.drop("survived", axis=1)
y_train = titanic_df["survived"]

model.fit(X_train, y_train)
y_pred = model.predict(X_train)

In [27]:
(y_train == y_pred).mean()

0.7838044308632544

In [28]:
df_train = pd.read_csv("Training_data.csv").drop("Unnamed: 0", axis=1)
df_train.head()

           File                                             Review  Label
0   2893_10.txt  Walt Disney's CINDERELLA takes a story everybo...      1
1    7944_9.txt  Have you ever, or do you have, a pet who's bee...      1
2  11725_10.txt  I suck at gratuitous Boob references, so i'm j...      1
3   1587_10.txt  Does anyone know, where I can see or download ...      1
4   10297_8.txt  Well not actually. This movie is very entertai...      1

In [29]:
df_test = pd.read_csv("Test_data.csv").drop("Unnamed: 0", axis=1)
df_test.head()

           File                                             Review  Label
0   2893_10.txt  "Rush in Rio" is, no doubt, one of the most ex...      1
1   8705_10.txt  I have seen a number of horror movies to know ...      1
2  11725_10.txt  I'm a fan of B grade 80s films in which the he...      1
3    9859_8.txt  I think that Pierre LÃ©aud, or his character, t...      1
4  12409_10.txt  This picture doesn't have any big explosions o...      1

In [34]:
os.chdir("/../../datasets/aclImdb/train")

In [35]:
os.listdir()

['pos',
 'urls_neg.txt',
 'urls_pos.txt',
 'urls_unsup.txt',
 'neg',
 'labeledBow.feat',
 'unsupBow.feat',
 'unsup']

In [36]:
f_labels = open("labeledBow.feat",'r')
labels_dirty = f_labels.read().split(" ")
labels = []
for i in labels_dirty:
    labels.append(i.replace("\n",''))
(f_labels).close()

In [37]:
labels

['9',
 '0:9',
 '1:1',
 '2:4',
 '3:4',
 '4:6',
 '5:4',
 '6:2',
 '7:2',
 '8:4',
 '10:4',
 '12:2',
 '26:1',
 '27:1',
 '28:1',
 '29:2',
 '32:1',
 '41:1',
 '45:1',
 '47:1',
 '50:1',
 '54:2',
 '57:1',
 '59:1',
 '63:2',
 '64:1',
 '66:1',
 '68:2',
 '70:1',
 '72:1',
 '78:1',
 '100:1',
 '106:1',
 '116:1',
 '122:1',
 '125:1',
 '136:1',
 '140:1',
 '142:1',
 '150:1',
 '167:1',
 '183:1',
 '201:1',
 '207:1',
 '208:1',
 '213:1',
 '217:1',
 '230:1',
 '255:1',
 '321:5',
 '343:1',
 '357:1',
 '370:1',
 '390:2',
 '468:1',
 '514:1',
 '571:1',
 '619:1',
 '671:1',
 '766:1',
 '877:1',
 '1057:1',
 '1179:1',
 '1192:1',
 '1402:2',
 '1416:1',
 '1477:2',
 '1940:1',
 '1941:1',
 '2096:1',
 '2243:1',
 '2285:1',
 '2379:1',
 '2934:1',
 '2938:1',
 '3520:1',
 '3647:1',
 '4938:1',
 '5138:4',
 '5715:1',
 '5726:1',
 '5731:1',
 '5812:1',
 '8319:1',
 '8567:1',
 '10480:1',
 '14239:1',
 '20604:1',
 '22409:4',
 '24551:1',
 '47304:17',
 '0:7',
 '1:4',
 '2:2',
 '3:2',
 '5:4',
 '6:1',
 '8:2',
 '9:2',
 '14:1',
 '16:1',
 '18:1',
 '20:1',
 '22:1',
 '24:1',
 '27:1',
 '29:1',
 '34:1',
 '36:3',
 '37:2',
 '41:1',
 '42:1',
 '48:3',
 '52:2',
 '79:2',
 '91:1',
 '100:1',
 '106:1',
 '119:1',
 '154:1',
 '166:1',
 '172:1',
 '207:1',
 '288:1',
 '321:1',
 '336:1',
 '353:1',
 '365:1',
 '383:1',
 '386:2',
 '390:1',
 '429:1',
 '504:1',
 '517:1',
 '706:1',
 '729:1',
 '748:1',
 '911:1',
 '1107:1',
 '1195:1',
 '1332:1',
 '1433:1',
 '1620:1',
 '1662:1',
 '2047:1',
 '2365:1',
 '2390:1',
 '2673:1',
 '3111:1',
 '3230:1',
 '3513:1',
 '4065:1',
 '4357:1',
 '5138:1',
 '5365:1',
 '5884:1',
 '6617:1',
 '11023:1',
 '11392:1',
 '11798:1',
 '12318:1',
 '12831:1',
 '13645:1',
 '18316:1',
 '22409:1',
 '22496:1',
 '27245:1',
 '28840:1',
 '30533:2',
 '32289:1',
 '33606:1',
 '44792:1',
 '48240:1',
 '48538:1',
 '53958:1',
 '54537:1',
 '54675:1',
 '62726:1',
 '71743:1',
 '87805:19',
 '0:4',
 '1:4',
 '2:4',
 '3:7',
 '4:2',
 '5:1',
 '6:1',
 '7:1',
 '9:1',
 '10:1',
 '13:1',
 '14:1',
 '19:1',
 '20:2',
 '22:1',
 '25:1',
 '27:1',
 '29:1',
 '34:1',
 '39:1',
 '42:1',
 '44:1',
 '49:1',
 '76:1',
 '91:1',
 '97:1',
 '101:1',
 '118:1',
 '123:1',
 '148:1',
 '156:1',
 '171:3',
 '176:1',
 '237:1',
 '242:1',
 '253:1',
 '276:1',
 '288:1',
 '321:2',
 '342:1',
 '345:1',
 '370:1',
 '390:1',
 '509:1',
 '680:1',
 '682:1',
 '840:2',
 '860:1',
 '872:2',
 '916:1',
 '972:1',
 '1009:1',
 '1010:1',
 '1180:1',
 '1195:1',
 '1205:1',
 '1477:1',
 '1531:1',
 '1790:1',
 '1873:1',
 '1990:1',
 '2053:1',
 '2067:1',
 '2081:1',
 '2099:1',
 '2453:1',
 '2511:1',
 '2714:1',
 '2924:1',
 '3108:1',
 '3514:1',
 '3533:1',
 '3781:1',
 '4030:1',
 '4263:1',
 '5068:1',
 '5138:1',
 '5254:1',
 '5268:2',
 '6097:1',
 '6611:1',
 '8373:1',
 '8950:1',
 '15061:1',
 '15594:1',
 '20571:1',
 '22409:2',
 '23279:1',
 '30533:1',
 '48240:1',
 '48538:110',
 '0:10',
 '1:2',
 '2:2',
 '4:3',
 '5:2',
 '6:4',
 '7:2',
 '9:1',
 '10:4',
 '11:1',
 '16:1',
 '17:1',
 '19:3',
 '20:3',
 '24:2',
 '26:1',
 '27:1',
 '28:1',
 '29:2',
 '32:1',
 '36:1',
 '39:2',
 '46:2',
 '49:1',
 '53:1',
 '55:1',
 '61:4',
 '69:1',
 '70:1',
 '73:1',
 '75:1',
 '89:1',
 '120:1',
 '125:2',
 '133:1',
 '137:1',
 '138:1',
 '139:1',
 '151:1',
 '174:1',
 '292:3',
 '295:1',
 '371:1',
 '394:1',
 '499:2',
 '560:1',
 '563:1',
 '592:1',
 '673:1',
 '693:1',
 '709:2',
 '862:1',
 '1306:1',
 '1341:1',
 '1642:2',
 '1755:1',
 '2149:1',
 '2210:1',
 '2778:1',
 '2860:1',
 '4648:1',
 '5480:1',
 '7117:1',
 '7384:1',
 '7826:1',
 '9364:18',
 '0:13',
 '1:9',
 '2:6',
 '3:4',
 '4:2',
 '5:5',
 '6:10',
 '7:6',
 '9:2',
 '10:3',
 '11:1',
 '12:1',
 '13:1',
 '14:3',
 '16:1',
 '17:1',
 '18:2',
 '19:4',
 '20:1',
 '24:1',
 '25:1',
 '28:1',
 '30:1',
 '31:1',
 '32:2',
 '34:1',
 '36:1',
 '40:1',
 '41:5',
 '49:2',
 '50:1',
 '53:2',
 '57:1',
 '60:1',
 '61:2',
 '62:1',
 '64:1',
 '69:1',
 '72:1',
 '79:1',
 '83:1',
 '88:1',
 '89:2',
 '93:1',
 '97:1',
 '98:1',
 '108:1',
 '110:1',
 '114:3',
 '118:2',
 '122:1',
 '124:1',
 '129:2',
 '138:1',
 '140:1',
 '146:2',
 '147:1',
 '152:1',
 '157:1',
 '158:1',
 '172:1',
 '174:1',
 '178:1',
 '193:3',
 '215:1',
 '218:1',
 '228:1',
 '235:1',
 '253:1',
 '286:1',
 '301:1',
 '356:1',
 '365:1',
 '381:2',
 '383:1',
 '385:1',
 '404:1',
 '472:1',
 '473:1',
 '509:1',
 '521:1',
 '528:1',
 '550:1',
 '610:1',
 '632:1',
 '684:1',
 '703:1',
 '736:1',
 '758:1',
 '765:1',
 '772:2',
 '817:1',
 '826:1',
 '862:1',
 '889:1',
 '927:1',
 '980:2',
 '1021:1',
 '1033:1',
 '1105:1',
 '1146:1',
 '1149:1',
 '1155:1',
 '1225:1',
 '1315:1',
 '1322:1',
 '1564:1',
 '1626:2',
 '1642:2',
 '1769:1',
 '1777:1',
 '1914:1',
 '1943:1',
 '2008:1',
 '2162:2',
 '2261:1',
 '2371:1',
 '2452:1',
 '2515:1',
 '2724:1',
 '2888:1',
 '3192:1',
 '3341:1',
 '3378:1',
 '3583:1',
 '3937:1',
 '4081:1',
 '4149:1',
 '4226:1',
 '4470:1',
 '4836:1',
 '5060:1',
 '5205:1',
 '6164:1',
 '6726:1',
 '7854:1',
 '7991:1',
 '8062:1',
 '8240:1',
 '8338:1',
 '8734:1',
 '9765:2',
 '11530:1',
 '14205:1',
 '15644:1',
 '15666:1',
 '17192:1',
 '19811:1',
 '20442:1',
 '32930:1',
 '54535:1',
 '66517:1',
 '87947:110',
 '0:6',
 '1:11',
 '2:4',
 '3:5',
 '4:3',
 '5:1',
 '6:2',
 '7:6',
 '8:7',
 '9:4',
 '10:3',
 '11:2',
 '12:4',
 '13:3',
 '14:3',
 '15:2',
 '16:3',
 '17:2',
 '18:1',
 '20:1',
 '21:1',
 '23:4',
 '24:1',
 '25:1',
 '26:4',
 '30:2',
 '31:1',
 '33:1',
 '35:1',
 '36:2',
 '39:1',
 '41:1',
 '42:1',
 '43:3',
 '45:1',
 '49:1',
 '50:1',
 '53:1',
 '54:4',
 '55:1',
 '56:1',
 '59:1',
 '61:2',
 '62:1',
 '64:1',
 '65:1',
 '66:1',
 '68:1',
 '70:1',
 '73:1',
 '78:1',
 '83:1',
 '85:1',
 '89:1',
 '97:1',
 '99:1',
 '111:1',
 '113:1',
 '121:1',
 '122:1',
 '124:1',
 '125:1',
 '126:1',
 '136:2',
 '142:1',
 '149:1',
 '153:1',
 '179:1',
 '185:1',
 '189:1',
 '197:1',
 '224:1',
 '276:1',
 '279:1',
 '285:1',
 '290:2',
 '297:1',
 '300:1',
 '309:1',
 '311:1',
 '312:1',
 '324:1',
 '358:1',
 '365:1',
 '385:1',
 '393:1',
 '410:1',
 '416:4',
 '426:1',
 '501:1',
 '502:1',
 '505:1',
 '541:1',
 '564:1',
 '577:3',
 '582:1',
 '586:1',
 '609:1',
 '628:1',
 '673:1',
 '746:1',
 '833:1',
 '881:1',
 '891:1',
 '1019:1',
 '1031:1',
 '1083:1',
 '1090:1',
 '1195:1',
 '1247:1',
 '1275:1',
 '1297:1',
 '1400:1',
 '1515:1',
 '1538:2',
 '1585:1',
 '1622:1',
 '1628:1',
 '1841:1',
 '1864:1',
 '1929:1',
 '1980:1',
 '2174:1',
 '2277:1',
 '2650:1',
 '2715:2',
 '2744:1',
 '2813:1',
 '2826:1',
 '2958:1',
 '3568:1',
 '4182:1',
 '4389:1',
 '4520:1',
 '4978:1',
 '5359:1',
 '6892:1',
 '7595:1',
 '8170:1',
 '8409:1',
 '8759:1',
 '9279:1',
 '9476:1',
 '9904:1',
 '10392:1',
 '11097:1',
 '11523:1',
 '12160:1',
 '13678:1',
 '14051:1',
 '38742:1',
 '56125:1',
 '68727:1',
 '70745:110',
 '0:6',
 '1:4',
 '2:1',
 '3:1',
 '5:3',
 '6:1',
 '7:2',
 '9:1',
 '10:1',
 '13:1',
 '15:1',
 '16:1',
 '17:2',
 '18:3',
 '22:1',
 '25:2',
 '29:1',
 '30:2',
 '32:2',
 '48:1',
 '49:1',
 '58:1',
 '60:1',
 '61:2',
 '75:3',
 '76:1',
 '79:1',
 '109:1',
 '113:1',
 '114:4',
 '115:1',
 '116:1',
 '122:1',
 '157:2',
 '214:1',
 '221:1',
 '438:1',
 '442:1',
 '449:1',
 '488:1',
 '517:1',
 '543:1',
 '571:1',
 '605:1',
 '658:1',
 '746:1',
 '771:1',
 '840:1',
 '842:1',
 '849:1',
 '852:1',
 '898:1',
 '905:1',
 '953:1',
 '1213:1',
 '1379:1',
 '1484:1',
 '2636:1',
 '2744:1',
 '3864:1',
 '4174:1',
 '4450:1',
 '9145:1',
 '10760:1',
 '16941:1',
 '18942:1',
 '68897:17',
 '0:3',
 '1:3',
 '2:6',
 '3:1',
 '4:3',
 '5:2',
 '7:2',
 '8:5',
 '9:3',
 '10:1',
 '12:2',
 '13:2',
 '15:1',
 '16:2',
 '17:3',
 '20:1',
 '21:4',
 '22:1',
 '23:1',
 '29:1',
 '36:1',
 '37:1',
 '43:2',
 '51:1',
 '57:1',
 '62:1',
 '64:1',
 '72:1',
 '73:1',
 '75:1',
 '76:2',
 '80:1',
 '82:1',
 '83:4',
 '86:1',
 '94:1',
 '109:3',
 '113:1',
 '117:1',
 '122:1',
 '125:1',
 '131:1',
 '132:1',
 '154:1',
 '160:1',
 '167:1',
 '171:1',
 '185:1',
 '188:1',
 '204:1',
 '212:1',
 '229:1',
 '251:1',
 '310:1',
 '327:1',
 '337:1',
 '366:1',
 '388:1',
 '443:1',
 '507:1',
 '512:1',
 '552:1',
 '561:1',
 '633:1',
 '694:1',
 '742:1',
 '842:2',
 '890:1',
 '985:1',
 '1208:1',
 '1304:1',
 '1574:1',
 '1698:1',
 '1921:1',
 '2153:1',
 '2813:1',
 '2982:1',
 '3498:1',
 '3639:1',
 '3864:2',
 '4174:2',
 '5637:1',
 '6360:1',
 '10392:17',
 '0:8',
 '1:3',
 '2:2',
 '3:2',
 '4:2',
 '5:1',
 '6:2',
 '7:1',
 '8:1',
 '9:2',
 '13:2',
 '14:1',
 '17:1',
 '24:1',
 '32:4',
 '44:1',
 '48:1',
 '52:1',
 '56:2',
 '63:1',
 '66:2',
 '91:1',
 '93:1',
 '108:1',
 '116:1',
 '145:1',
 '165:1',
 '174:1',
 '205:1',
 '206:1',
 '251:1',
 '268:1',
 '298:1',
 '307:1',
 '316:1',
 '318:1',
 '390:1',
 '449:1',
 '482:1',
 '513:1',
 '600:1',
 '752:1',
 '807:1',
 '859:1',
 '895:1',
 '1040:1',
 '1044:1',
 '1161:1',
 '1427:1',
 '2196:1',
 '3112:1',
 '3374:1',
 '3393:1',
 '3618:1',
 '3619:1',
 '3704:1',
 '3721:1',
 '4143:1',
 '4607:1',
 '5286:1',
 '6159:1',
 '8212:1',
 '8314:1',
 '9507:1',
 '11275:1',
 '22134:1',
 '28295:1',
 '48990:17',
 '0:9',
 '1:7',
 '2:8',
 '3:3',
 '4:4',
 '5:5',
 '6:3',
 '12:2',
 '13:1',
 '16:1',
 '17:1',
 '18:2',
 '20:1',
 '21:1',
 '22:4',
 '25:1',
 '27:1',
 '31:1',
 '32:1',
 '33:1',
 '34:2',
 '35:1',
 '37:2',
 '40:1',
 '51:1',
 '53:1',
 '55:2',
 '61:1',
 '62:1',
 '66:1',
 '76:1',
 '78:1',
 '93:1',
 '97:1',
 '101:2',
 '105:1',
 '114:1',
 '123:1',
 '126:1',
 '130:1',
 '145:1',
 '146:2',
 '152:1',
 '162:1',
 '183:1',
 '185:1',
 '190:1',
 '210:1',
 '214:1',
 '219:1',
 '232:1',
 '238:1',
 '269:1',
 '348:1',
 '367:1',
 '377:1',
 '410:1',
 '418:1',
 '449:1',
 '466:1',
 '561:1',
 '610:1',
 '630:1',
 '633:1',
 '645:1',
 '653:1',
 '663:1',
 '714:1',
 '771:1',
 '795:1',
 '814:1',
 '842:1',
 '851:1',
 '876:1',
 '890:1',
 '906:1',
 '931:1',
 '1015:1',
 '1203:1',
 '1244:1',
 '1256:1',
 '1284:1',
 '1453:1',
 '1692:1',
 '1781:1',
 '1857:1',
 '1913:1',
 '2125:1',
 '2283:1',
 '2404:1',
 '2631:1',
 '3172:1',
 '3257:1',
 '3497:1',
 '3864:1',
 '4094:1',
 '4174:1',
 '4544:1',
 '5490:1',
 '6171:1',
 '7519:1',
 '7732:1',
 '9184:1',
 '9487:1',
 '9646:1',
 '12977:1',
 '13475:1',
 '16459:1',
 '18597:1',
 '18942:1',
 '20909:1',
 '25644:1',
 '32415:1',
 '43190:1',
 '54524:1',
 '72756:1',
 '79534:19',
 '1:1',
 '2:6',
 '3:2',
 '4:1',
 '5:4',
 '8:1',
 '9:2',
 '12:1',
 '13:1',
 '16:2',
 '19:1',
 '20:1',
 '23:1',
 '24:1',
 '26:1',
 '35:1',
 '42:1',
 '51:1',
 '55:1',
 '61:2',
 ...]